* {
    margin: 0%;
    padding: 0%;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.347);
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px;
    position: sticky;
    border: groove;
    box-shadow: 0px 5px 7px;
  }
  
  .navlist {
    display: flex;
  }
  
  /* ul {
    width: 70%;
  } */
  
  .navlist li {
    list-style: none;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .navlist li a {
    text-align: center;
    align-items: center;
    display: flex;
    padding: 5px;
    margin-left: 30px;
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
  
  .navlist li a:hover {
    /* text-align: center;
    align-items: center;
    position: relative; */
    color: rgb(65, 0, 0);
    text-shadow: 2px 2px 5px black;
    transition: 0.50s;
    cursor: pointer;
  }
  
  /* LOGO */
  
  .logo {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0px 4px;
    border: 2px solid white;
    border-radius: 34px;
    border-style: groove;
    box-shadow: 2px 2px 5px black;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
/* THIS IS FULL BODY CLASS  */
.cover {
    width: 60%;
    border: groove;
    margin-top: -277px;
    margin-left: 30px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 5px 10px 16px;
}

.forrecent {
    width: 30%;
    height: 400px;
    border: groove;
    display: block;
    margin-left: 843px;
    margin-top: -3580px;
    box-shadow: 5px 10px 16px;
    margin-bottom: 3247px;
}
.forrecent a {
    text-decoration: none;
    color: black;
    display: block;
    padding-top: 30px;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 30px;
}
.forrecent a:hover {
    text-shadow: 2px 2px 5px;
}
#forrecent {
  margin-bottom: 6433px;
  margin-top: -6814px;
}

/* THIS IS IMAGE SECTION FOR FEB  */
.feb {
    border-radius: 150px;
    border: groove;
    width: 300px;
    margin-top: 50px;
    height: 250px;
    margin-left: 892px;
    box-shadow: 5px 10px 16px;
}

/* FOOTER SECTION  */

#footer {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;
  height: 45px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 55px;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.892);
  padding-top: 30px;
  padding-bottom: 30px;
}

/* dropdown section in footer  */
.foott {
  list-style: none;
  /* margin: 20px; */
  display: flex;
  padding: 10px;
  margin-left: -5px;
  background-color: rgba(0, 0, 0, 0.892);
}

.foott li {
  padding: 15px;
  font-size: 27px;
  margin-bottom: 0px;
  margin-left: 60px;
}

.dropbtn1 {
  color: white;
  font-size: 35px;
  margin-top: -20px;
  margin-left: -24px;
}

.dropdown-contents {
  display: block;
  margin-left: -24px;
}

.dropdown-contents a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-left: 78px;
}

.dropdown-contents a:hover {
  background-color: #ddd;
  color: black;
}

#myabout {
  color: white;
  font-size: 35px;
  margin-top: -20px;
  font-weight: bolder;
  width: 286px;
}

.dropdown-contents2 {
  display: block;
  margin-left: 20px;
}

.dropdown-contents2 a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-left: 52px;
}

.dropdown-contents2 a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown-contents {
  display: block;
}

.contact {
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 12px 16px;
  display: block;
  margin-top: 10px;
  margin-left: -10px;
}

.contact:hover {
  background-color: #ddd;
  color: black;
}

#mycontact {
  margin-top: -20px;
  font-size: 36px;
  color: white;
  font-weight: bolder;
  margin-left: -14px;
  width: 124%;
}

#myhome {
  font-size: 30px;
  color: white;
  font-weight: bolder;
  margin-top: -20px;
}

.terms {
  font-size: 20px;
    margin-left: 70px;
    margin-top: 30px;
    padding: 8px 2px;
    display: block;
    width: 168px;
}

.terms a {
  color: white;
  padding: 12px 2px;
  text-decoration: none;
}

.terms a:hover {
  background-color: #ddd;
  color: black;
}

.polocy {
  font-size: 20px;
    margin-left: 70px;
    margin-top: 30px;
    padding: 8px 2px;
    display: block;
}

.polocy a {
  color: white;
  padding: 12px 4px;
  text-decoration: none;
}

.polocy a:hover {
  background-color: #ddd;
  color: black;
}

#footh2 {
  color: black;
  font-size: 59px;
  text-align: center;
  margin: 20px 0px 20px 0px;
  text-shadow: 5px 4px 7px black;
}

.iconss1 {
  display: flex;
    font-size: 41px;
    margin-top: 72px;
    margin-left: -40px;
    width: 75px;
    text-align: center;
    padding: 10px;
}
.iconss1 a {
  margin-top: -50px;
  margin-bottom: 10px;
  margin-left: 32px;
  text-decoration: none;
}
.fa-instagram {  
  background-image: linear-gradient(to bottom right, rgb(104, 0, 104), rgb(224, 13, 150), rgb(255, 247, 0)); 
  color: white; 
  padding: 11px 16px;
  border-radius: 23px;
}

.fa-whatsapp {  
  background: #16c906;  
  color: white;  
  padding: 11px 16px;
  border-radius: 23px;
}  

/* DISPLAY NONE  */
.hr {
  display: none;
}
.iconss {
  display: none;
}

.pp {
  border-style: groove;
  border-width: 3px;
}

  
/* NOW THIS IS FULL BODYS TAGS SECTION  */

strong {
    font-size: 30px;
    margin-top: 10px;
}

p {
    text-align: left;
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li {
    list-style: none;
    text-align: left;
    margin: 20px;
    font-weight: bolder;
}
hr {
    width: 85%;
    margin-left: 51px;
}
.hr {
  width: 85%;
  margin-left: 20px;
}



@media only screen and (max-width: 1100px){
/* MOBILE SMARTPHONES */
  /* BURGER MENU BAR  */

  #menu {
    z-index: 2;
  }

  #menu-bar {
    width: 37px;
    height: 40px;
    margin: 18px 0 0px 10px;
    cursor: pointer;
  }

  .bar {
    height: 2px;
    margin: 4px;
    width: 86%;
    background-color: #ffffff;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }

  #bar1 {
    transform: translateY(-4px);
  }

  #bar3 {
    transform: translateY(4px);
  }

  .nav {
    transition: 0.3s ease;
    display: none;
  }

  .nav ul {
    padding: 0 12px;
  }

  .nav li {
    list-style: none;
    padding: 12px 0;
  }

  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

  .nav li a:hover {
    font-weight: bold;
  }

  .menu-bg,
  #menu {
    top: 0;
    left: 0;
    position: absolute;
  }

  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #0571dc, #0571dc);
    border-radius: 50%;
    transition: 0.3s ease;
  }

  .change {
    display: block;
  }

  .change .bar {
    background-color: white;
  }

  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }

  .change #bar2 {
    opacity: 0;
  }

  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }

  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%, -30%);
  }

  .navbar {
    background-color: #ffe4c400;
    margin: -12px;
  }

  .logo {
    display: none;
  }

  .background {
    background-position: left;
    height: 300px;
    margin-top: -50px;
  }

  .imagess {
    margin: 50px;
  }
}

@media only screen and (max-width: 900px){
  /* MOBILE SMARTPHONES */
    /* BURGER MENU BAR  */
  

    #menu {
      z-index: 2;
    }
  
    #menu-bar {
      width: 37px;
      height: 40px;
      margin: 18px 0 0px 10px;
      cursor: pointer;
    }
  
    .bar {
      height: 2px;
      margin: 4px;
      width: 86%;
      background-color: #000000;
      display: block;
      border-radius: 5px;
      transition: 0.3s ease;
    }
  
    #bar1 {
      transform: translateY(-4px);
    }
  
    #bar3 {
      transform: translateY(4px);
    }
  
    .nav {
      transition: 0.3s ease;
      display: none;
    }
  
    .nav ul {
      padding: 0 12px;
      display: block;
    }
  
    .nav li {
      list-style: none;
      padding: 12px 0;
    }
  
    .nav li a {
      color: white;
      font-size: 20px;
      text-decoration: none;
      margin-top: 8px;
    }
  
    .nav li a:hover {
      font-weight: bold;
      color: rgb(255 124 124);
    }
  
.menu-bg, #menu {
      top: 0;
      left: 0;
      position: absolute;
    }
  
    .menu-bg {
      z-index: 1;
      width: 0;
      height: 0;
      margin: 30px 0 20px 20px;
      background-image: radial-gradient(circle, #0571dc, #0571dc);
      border-radius: 50%;
      transition: 0.3s ease;
    }
  
    .change {
      display: block;
    }
  
    .change .bar {
      background-color: black;
    }
  
    .change #bar1 {
      transform: translateY(4px) rotateZ(-45deg);
    }
  
    .change #bar2 {
      opacity: 0;
    }
  
    .change #bar3 {
      transform: translateY(-6px) rotateZ(45deg);
    }
  
    .change-bg {
      width: 520px;
      height: 460px;
      transform: translate(-60%, -30%);
    }
  
    .navbar {
    background-image: linear-gradient(to bottom right, #fc4848, #1700ff);
    height: 270px;
    border-radius: 0px 70px 100px 0px;
    margin: -12px;
    margin-top: -9px;
    transition: 0.4s ease;
    margin-left: -30px;
    }
  
    .logo {
      display: none;
    }
  
    .background {
      background-position: left;
      height: 300px;
      margin-top: -50px;
    }
  
    .imagess {
      margin: 50px;
    }



/* IMAGES OR PARAGRAPH SECTION  */

#gods{
  font-size: 38px;
}

#attitude {
  font-size: 30px;
}

#love {
  font-size: 36px;
}

#nature{
  font-size: 22px;
}
.lhside {
  width: 250px;
  margin-left: 0px;
  margin-right: 0px;
}
.rhside {
  width: 250px;
  margin-left: 20px;
}
#forhead {
  width: 78%;
  margin-left: 40px;
  display: none;
}
.forquotesr{
  text-align: center;
}
.forquotesl{
  text-align: center;
}
.rhsidep {
  margin-left: 0%;
  margin-right: 0px;
  margin-top: 0px;
  height: 260px;
  font-size: 16px;
}

.rhsidep b {
  font-size: 28px;
}

.lhside1 {
  font-size: 16px;
  margin-left: 0px;
  margin-right: 0%;
  margin-top: 0px;
  height: 260px;
}
.lhside1 b {
  font-size: 24px;
  font-weight: bolder;
}

/* THIS IS FOOTER SECTION  */



    #footh2 {
      text-shadow: 0px 4px 9px black;
    }
    .foott li {
      margin-left: -52px;
      padding: 6px;
      margin-bottom: 0px;
    }
    
    .foott {
      display: flex;  /* THIS IS TAMPORARY  */
    }
    
    #myhome{
      font-size: 16px;
      font-weight: bolder;
      margin-left: 62px;
      margin-top: 0px;
    margin-bottom: 0px;
    }
    
    #mycontact {
      display: none;
      font-size: 16px;
    }
    .contact {
      display: none;
    }
    
    #myabout{
      font-size: 16px;
        margin-top: 0px;
        margin-left: 30px;
        width: 148%;
        font-weight: bolder;
        margin-bottom: 0px;
    }
    
.dropbtn1{
  font-size: 16px;
  margin-top: 0px;
  font-weight: bolder;
  margin-left: 53px;
  margin-bottom: 0px;
  max-width: 110px;
}
    .dropdown{
      display: inline;
    }
    .dropdown-contents a {
      margin-left: 33px;
      font-size: 12px;
      margin-top: 10px;
      padding: 8px 2px;
    }
    
    .dropdown-contents2 a {
      margin-left: -30px; 
      font-size: 12px;
      margin-top: 0px;
      padding: 8px 2px;
    }
    
    .terms{
      width: 66%;
      margin-left: 13px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 15px;
      display: block;
    }
    
    .polocy{
      width: 66%;
      margin-left: 13px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 15px;
      display: block;
    }
    .polocy a {
      padding: 0px;
    }
    .terms a {
      padding: 0px;
    }
    .iconss {
      display: flex;
      font-size: 41px;
      margin-top: 73px;
      margin-left: -38px;
      width: 75px;
      text-align: center;
      padding: 10px;
    }
    .iconss a {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 43px;
      text-decoration: none;
    }
    .fa-instagram {  
      background-image: linear-gradient(to bottom right, rgb(104, 0, 104), rgb(224, 13, 150), rgb(255, 247, 0));  
      color: white; 
      padding: 11px 16px;
      border-radius: 23px;
    }
    
    .fa-whatsapp {  
      background: #16c906;  
      color: white;  
      padding: 11px 16px;
      border-radius: 23px;
    }  
    
    #footer {
      height: 30px;
        font-size: 32px;
        padding-top: 16px;
    }
    
    .iconss1 {
      display: none;
    }

    hr {
      width: 97%;
      margin-left: 5px;
    }

    .hr {
      display: block;
      margin-left: 0px;
      width: 118px;
    }

    li {
      margin: 20px;
    }
    .feb {
      display: none;
    }

    .cover {
      width: 98%;
      box-shadow: 0px 0px 10px;
      margin-left: 0px;
      margin-bottom: 0px;
      margin-top: 60px;
    }

    .forrecent{
      display: none;
    }
  }